@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.wave-span {
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.wave-1 {
  border-radius: 45%;
  background: rgb(255, 255, 255);
  animation: wave 10s linear infinite;
}

.wave-2 {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: wave 20s linear infinite;
}

.wave-3 {
  border-radius: 42.5%;
  background: rgba(255, 255, 255, 0.5);
  animation: wave 30s linear infinite;
}

.dark .wave-1 {
  background: rgba(30, 41, 59, 0.9);
}

.dark .wave-2,
.dark .wave-3 {
  background: rgba(30, 41, 59, 0.5);
}